/* header */
a img {
    border: 0;
}
.header {
    margin: 0 0 30px 0;
    background: #E5ECFB;
    background: -webkit-gradient(linear, left to top, left to bottom, from(#E8EEFC), to(#D7DEEA));
    background: -moz-linear-gradient(top, #E8EEFC, #D7DEEA);
    background: linear-gradient(top, #E8EEFC, #D7DEEA);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8EEFC', endColorstr='#D7DEEA');
    border-bottom: 1px solid #AAA;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, .6), 0px 2px 2px rgba(0, 0, 0, .15);
    min-height: 50px;
}
.header-inner {
    max-width: 605px;
    margin: 0 auto;
}
.nav, .nav li, .nav-play, .nav-play li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}
.nav {
    padding: 15px 6px 15px 6px;
}
.header .nav {
    padding: 15px 0 15px 155px;
}
.header .nav-play {
    padding: 15px 0 15px 10px;
}
.nav .button {
    position: relative;
    padding: 5px 10px;
    margin: 0 -1px 0 0;
    border-radius: 0;
}
.nav .button img {
    position: absolute;
    top: -8px;
    left: -150px;
}
.nav .button.cur, .nav .button.cur:hover {
    color: #777777;
    background: #f8f8f8;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.nav .button.cur:hover {
    border: solid 1px #888888;
}
.nav .button:hover {
    z-index: 10;
}
.nav .button.nav-first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.nav .button.nav-last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.button {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
    box-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -1px 2px rgba(255,255,255,1);
    white-space: nowrap;
   /* default colors */
    color: #222222;
    border: solid 1px #AAAAAA;
    background: #e3e3e3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e3e3e3));
    background: -moz-linear-gradient(top, #f6f6f6, #e3e3e3);
    background: linear-gradient(top, #f6f6f6, #e3e3e3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3');
}
.button:hover {
    background: #cfcfcf;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#cfcfcf));
    background: -moz-linear-gradient(top, #f2f2f2, #cfcfcf);
    background: linear-gradient(top, #f2f2f2, #cfcfcf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#cfcfcf');
    border-color: #606060;
}
.button:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f2f2f2));
    background: -moz-linear-gradient(top, #cfcfcf, #f2f2f2);
    background: linear-gradient(top, #cfcfcf, #f2f2f2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#f2f2f2');
}
.greenbutton {
    background: hsl(100,30%,93%);
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(100,30%,97%)), to(hsl(100,30%,84%)));
    background: -moz-linear-gradient(top, hsl(100,30%,97%), hsl(100,30%,84%));
    background: linear-gradient(top, hsl(100,30%,97%), hsl(100,30%,84%));
    border-color: hsl(100,30%,70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e3e3e3');
}
.greenbutton:hover {
    background: hsl(100,30%,87%);
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(100,30%,94%)), to(hsl(100,30%,77%)));
    background: -moz-linear-gradient(top, hsl(100,30%,94%), hsl(100,30%,77%));
    background: linear-gradient(top, hsl(100,30%,94%), hsl(100,30%,77%));
    border-color: hsl(100,30%,41%);
}
.greenbutton:active {
    background: hsl(100,30%,77%);
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(100,30%,77%)), to(hsl(100,30%,83%)));
    background: -moz-linear-gradient(top, hsl(100,30%,77%), hsl(100,30%,83%));
    background: linear-gradient(top, hsl(100,30%,77%), hsl(100,30%,83%));
    border-color: hsl(100,30%,41%);
}
/* general page styling */
html, body {
    font: 10pt Verdana, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    min-width: 100em;
}
.trainer-poks-label {
    margin: 10px 0px;
}
.trainer-pok-list {
    display: flex;
    flex-wrap: wrap;
}
.trainer-pok-list {
    display: flex;
    flex-wrap: wrap;
}
.trainer-pok{
    height: 100%;
    width: auto;
    margin-right: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
.trainer-pok:hover, .opposite-pok:hover{
    outline: 2px solid;
    outline-color: #1abc9c;
}
fieldset {
    float: left;
    background-color: #F1F4F9;
    border: 1px solid #AAAAAA;
}
th, td {
    padding: 0;
}
th {
    font-size: 0.8em;
}
.title-text {
    font-weight: bold;
    font-size: 1.5em;
    margin: 0.5em 1em 0.5em 0;
    position: relative;
    top: -5px;
}
.big-text {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5em 0;
}
.big-text #mainResult:hover {
   /* indicates the presence of click-to-copy function */
    cursor: pointer;
    opacity: 0.7;
}
#tooltipText {
    font-size: 0.8em;
    visibility: hidden;
    border-radius: 5px;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
}
.small-text {
    font-size: 0.8em;
}
.panel {
    float: left;
    display: inline-block;
   /* required for honkaculate to work */
}
.field-info, .poke-import , .note-button{
    text-align: center;
    width: 27.5em;
}
.holder-0 {
    position: absolute;
    top: 151px;
}
#holder-2 tr {
    white-space: nowrap;
}
/* general button styling */
.btn {
    text-align: center;
    border: solid 1px #aaaaaa;
    padding: 4px 4px;
    position: relative;
    cursor: pointer;
    color: #555555;
    background: #e9e9e9;
    margin: -1px -3px 0;
    display: inline-block;
    width: 5em;
    border-radius: 8px;
}
.btn-wide {
    width: 7em;
}
.btn-xwide {
    width: 8em;
}
.btn-xxwide {
    width: 9em;
}
.btn-xxxwide {
    width: 10em;
}
.btn-small {
    width: 4em;
}
.btn-xsmall {
    width: 1em;
}
.btn-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-mid {
    border-radius: 0;
}
.visually-hidden:focus + .btn, 
/* Add visual indication when focusing on visually hidden elements */
.btn:hover {
    z-index: 10;
    border-color: #777777;
    background: #e3e3e3;
}
.visually-hidden:checked + .btn {
    font-weight: bold;
    color: #111111;
    background: #f5f5f5;
}
.visually-hidden[type="radio"]:checked + .btn {
    cursor: default;
}
/* Hide element visually, but not from screen readers. See http://adrianroselli.com/2017/05/under-engineered-custom-radio-buttons-and-checkboxen.html */
.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    white-space: nowrap;
   /* https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe */
}
.visually-hidden:disabled + .btn {
    color: #999999;
}
.btn-group {
    display: inline-block;
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.locked-move:checked + .btn {
    background: #ffff99;
}
.genSelection, .notationSelection {
    display: inline-block;
    position: relative;
    top: -8px;
}
/* header */
.move-result-subgroup {
    float: left;
    width: 50%;
}
/* pokemon info */
.poke-info label {
    display: inline-block;
    width: 6em;
}
.top label, .info-selectors label {
    display: inline-block;
    width: 5em;
}
.poke-info input:not([type]), .poke-info input[type="text"], .poke-info span {
    display: inline-block;
    width: 2.5em;
}
.poke-info input[type="number"] {
    display: inline-block;
    width: 3em;
}
.info-group {
    margin: 1em 0;
}
.info-selectors select {
    width: 12em;
}
select.toxic-counter {
    width: 5.5em;
}
.move-selector, .move-bp, .move-type, .move-cat, .move-hits {
    font-size: 0.9em;
}
.move-selector {
    width: 1.5em;
}
.poke-info input.move-bp {
    width: 2em;
}
.move-type {
    width: 5.5em;
}
.move-cat {
    width: 6em;
}
.move-hits {
    width: 4.5em;
}
.poke-info .crit-btn {
    font-size: 0.8em;
    width: 2.5em;
    height: 1em;
    padding: 3px 3px;
    margin: 0px 1px;
}
.poke-info .z-btn {
    font-size: 0.8em;
    width: 1.5em;
    height: 1em;
    padding: 3px 3px;
}
.poke-info .max-btn {
    font-size: 0.8em;
    width: 2.5em;
    height: 1em;
    padding: 3px 3px;
}
/* field info */
.field-info .btn {
    font-size: 0.8em;
}
table.field {
    width: 100%;
}
[hidden], .hide {
    display: none;
}
.small-select.select2-container .select2-choice {
    font-size: 0.9em;
    height: 18px;
    line-height: 18px;
}
.small-select.select2-container .select2-choice .select2-arrow b {
    background-position: 0 -4px;
}
.small-select.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px -4px;
}
/* Bootstrap */
.panel-group > .panel {
    clear: left;
}
/* ColVis */
.clear {
    clear: right;
}
.import-team-text {
    min-width: 27em;
    min-height: 10em;
    resize: vertical;
}
.import-name-text {
    min-width: 26.3em;
    min-height: 1em;
    overflow: auto;
    display: inline;
}
.hpbar.hp-green {
    background-color: green;
}
.hpbar.hp-yellow {
    background-color: #f5d538;
}
.hpbar.hp-red {
    background-color: #ee4928;
}
.pool {
    padding: 15px 0;
}
.ability-pool, .move-pool {
    padding-bottom: 5px;
}
.extraSetAbilities, .extraSetItems, .extraSetMoves {
    width: 100%;
}
/* F = Faster T = Speed tie S = slower */
.mon-speed-F{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid;
    border-color: #7ee1ff;
    border-radius: 20%;
    border-width: var(--spe-bor-width) 
}
.mon-speed-T{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid;
    border-color: #894197;
    border-radius: 20%;
    border-width: var(--spe-bor-width) 
}
.mon-speed-S{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid;
    border-color: #1c1414;
   ;
    border-radius: 20%;
    border-width: var(--spe-bor-width);
}
.mon-speed-none{
    border: none !important;
}
.mon-dmg-none{
    background: var(--fieldset-color) !important;
}
.mon-dmg-W{
   /* Is considerable a wall*/
    background: linear-gradient(to right, #0f0bf3 50%, var(--fieldset-color) 0%);
}
.mon-dmg-WMO{
   /* Is considerable a wall that may OHKO*/
    background: linear-gradient(to right, #1295ec 50%, var(--fieldset-color) 0%);
}
.mon-dmg-4{
   /*Gets OHKO*/
    background: linear-gradient(to right, var(--fieldset-color) 50%, #dd0b0b 0%);
}
.mon-dmg-3{
   /*maybe gets OHKO*/
    background: linear-gradient(to right, var(--fieldset-color) 50%, #ff7f16 0%);
}
.mon-dmg-1{
   /*inflicts OHKO*/
    background: linear-gradient(to right, #20d408 50%, var(--fieldset-color) 0%);
}
.mon-dmg-2{
   /*may inflicts OHKO*/
    background: linear-gradient(to right, #daff08 50%, var(--fieldset-color) 0%);
}
.mon-dmg-14{
   /*both sides Gets OHKO*/
    background: linear-gradient(to right, #20d408 50%, #dd0b0b 0%);
}
.mon-dmg-23{
   /*both sides might inflict OHKO*/
    background: linear-gradient(to right, #daff08 50%, #ff7f16 0%);
}
.mon-dmg-13{
   /*inflict OHKO but may Gets OHKO*/
    background: linear-gradient(to right, #20d408 50%, #ff7f16 0%);
}
.mon-dmg-24{
   /*may inflict OHKO but Gets OHKO*/
    background: linear-gradient(to right, #daff08 50%, #dd0b0b 0%);
}
.box-poke, #trainer-pok-list-opposing2, #trainer-pok-list-opposing{
    min-height: 30px;
}
.dropzone::before{
    content:attr(data-placeholder);
    color:gray 
}
.deadzone:hover{
    background: #722323;
}
.over{
    background: #373232;
}
.s-arrow{
    border: solid rgb(175, 155, 155);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.arrowdown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.arrowright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.arrowtop {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.arrowleft{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.l-side-button, .r-side-button{
    position: absolute;
}
.side-pannel{
    display: grid;
    position: relative;
}
.left-side-pannel{
    float: left;
}
.right-side-pannel{
    float: none;
}
#p2mon, #p1mon, #monSingle, #monDouble{
    min-height: 30px;
}
.info-paragraph > b{
    color: rgb(15, 14, 14);
}
.info-paragraph > b:hover{
    background: var(--fieldset-color);
    color: unset;
}
.box-frame{
    position: absolute;
    background: var(--fieldset-color);
    border: 1px solid #AAA;
    padding: 3px;
}
#item-box-frame{
    z-index: 3;
    width: 650px;
    height: 400px;
    top: 500px;
    left: 500px;
    resize: both;
    overflow: scroll;
}
#note-box-frame{
    z-index: 2;
    width: fit-content;
    height: fit-content;
    top: 200px;
    left: 1220px;
}
.screen-box-frame{
    position: absolute !important;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    top: 250px;
    left: 500px;
}
.screen-box-frame-header{
    position: relative;
    min-height: 30px;
}
.box-frame-header{
    position: relative;
    min-height: 30px;
}
.box-frame-header>legend{
    font-size: larger;
    text-align: unset;
}
.close-frame{
    width: 25px;
    height: 25px;
    background-color: red;
    border: 1px solid black;
    margin-left: auto;
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
}
#close-item-box:hover{
    background-color: white;
    overflow: auto;
}
.mdiv {
    height: 25px;
    width: 2px;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    Z-index: 4;
}
.md {
    height: 25px;
    width: 2px;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 5;
}
.box-item-list>img:hover{
    background: var(--button-hover);
}
.berry-bb{
    background:#B8B8D0;
}
.berry-cr{
    background:#B8A038;
}
.berry-cl{
    background:#A8A878;
}
.berry-cp{
    background:#C03028;
}
.berry-co{
    background:#A890F0;
}
.berry-cb{
    background:#705848;
}
.berry-ha{
    background:#7038F8;
}
.berry-ka{
    background:#705898;
}
.berry-ke{
    background:#A040A0;
}
.berry-oc{
    background:#F08030;
}
.berry-ps{
    background:#6890F0;
}
.berry-py{
    background:#F85888;
}
.berry-ri{
    background:#78C850;
}
.berry-ro{
    background:#EE99AC;
}
.berry-sh{
    background:#E0C068;
}
.berry-ta{
    background:#A8B820;
}
.berry-wa{
    background:#F8D030;
}
.berry-ya{
    background:#98D8D8;
}
#sets > a {
    margin-left: 5px;
    margin-right: 5px;
}
#screen-calc{
    float: right;
    margin-top: 22px;
    margin-right: 41px;
}
#p1,.playerSettings {
    background: repeating-linear-gradient( 135deg, #ffbfcc7c, #ffbfcc7c 50px, #b6203e7c 50px, #b6203e7c 51px );
    width: 22em;
   /* background-color: #72041a7c;
    */
}
#p2,.opposingSettings{
    background: repeating-linear-gradient( 135deg, #7aa2ed7c, #7aa2ed7c 50px, #466cb37c 50px, #466cb37c 51px );
    width: 22em;
   /* background-color: #1b41897c;
    */
}
.field-info, .note-button, .poke-import{
    background: repeating-linear-gradient( 135deg, #f3d06e7c, #f3d06e7c 50px, #daae347c 50px, #daae347c 51px );
   /* background-color: #9779257c;
    */
}
#trainer-mons {
    background: repeating-linear-gradient( 135deg, #eaeaeae0, #eaeaeae0 5px, #d3d3d3e0 5px, #d3d3d3e0 10px );
    resize:both;
    overflow:auto;
    width:17em;
    display:flex;
    flex-direction:column;
}
#opposing-mons {
    background: repeating-linear-gradient( 135deg, #e198f5e0, #e198f5e0 5px, #e2b8ebe0 5px, #e2b8ebe0 10px );
    width: 12em;
}
/* general page styling */
html, body {
    font: 10pt Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 100em;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    -webkit-animation: fadein 3s;
   /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;
   /* Firefox < 16 */
    -ms-animation: fadein 3s;
   /* Internet Explorer */
    -o-animation: fadein 3s;
   /* Opera < 12.1 */
    animation: fadein 3s;
}
@keyframes fadein {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}
.wrapper {
    padding: 0 1em;
    max-width: 100%;
    margin: 0 auto;
}
.credits {
    clear: both;
    padding: 20px;
    max-width: 100%;
    margin: 50px auto;
}
legend {
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 1em;
    margin-bottom: 1em;
}
.field-info,.note-button, .poke-import {
    text-align: center;
    width: 20.5em;
}
/* header */
.move-result-group {
    display: flex;
    min-width: 30em;
    justify-content: center;
    margin: 1em 0 1.5em;
}
.move-result-subgroup {
    width: 40%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.move-result-group .btn {
    margin: 0 1em;
}
.main-result-group {
    margin: 0em 0 1em;
    text-align: center;
}
.result-move-header {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0 2em;
}
.move-selector.select2-container > .select2-choice > .select2-chosen {
    width: 0em;
  }
.set-selector {
    width: 60%;
    height: 2em;
}
#trainer-pok-list-opposing {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
/* field info */
.field-info .btn {
    font-size: 0.8em;
}
table.field {
    width: 100%;
}
/* select2 overrides */
.select2-container .select2-choice > .select2-chosen {
    width: 11.5em;
}
.move-selector.select2-chosen{
    width:0em;
}
.small-select.select2-container .select2-choice {
    font-size: 0.9em;
    height: 18px;
    line-height: 18px;
}
.small-select.select2-container .select2-choice .select2-arrow b {
    background-position: 0 -4px;
}
.small-select.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px -4px;
}
/* Bootstrap */
.panel-group > .panel {
    clear: left;
}
/* ColVis */
.clear {
    clear: right;
}
.import-team-text {
    min-width: 20em;
    min-height: 10em;
    resize: vertical;
}
.import-name-text {
    min-width: 26.3em;
    min-height: 1em;
    overflow: auto;
    display: inline;
}
.hpbar {
    height: 4px;
    border-style: none;
    border-top-width: 2px;
    border-right-width: 1px;
    border-bottom-width: 2px;
    border-left-width: 0.5px;
    border-radius: 3px;
    margin-top: 15px;
}
.trainer-poke-list, .trainer-poke-list-opposing {
    display: flex;
    flex-wrap: wrap;
}
.opposite-pok.right-side{
    height: 80px;
    width: 80px;
    cursor: pointer;
    box-sizing: border-box;
    transition-property: outline-color;
    transition-duration: 0.4s;
    object-fit: contain;
}
/* F = Faster T = Speed tie S = slower */
.mon-speed-F {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid;
    border-color: #7ee1ff;
    border-radius: 20%;
}
.mon-speed-T {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid;
    border-color: #894197;
    border-radius: 20%;
}
.mon-speed-S {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid;
    border-color: #1c1414;
    border-radius: 20%;
}
.mon-speed-none {
    border: none !important;
}
.mon-dmg-none {
    background: var(--fieldset-color) !important;
}
.mon-dmg-W {
   /* Is considerable a wall*/
    background: linear-gradient(to right, #0f0bf3 50%, var(--fieldset-color) 0%);
}
.mon-dmg-WMO {
   /* Is considerable a wall that may OHKO*/
    background: linear-gradient(to right, #1295ec 50%, var(--fieldset-color) 0%);
}
.mon-dmg-4 {
   /*Gets OHKO*/
    background: linear-gradient(to right, var(--fieldset-color) 50%, #dd0b0b 0%);
}
.mon-dmg-3 {
   /*maybe gets OHKO*/
    background: linear-gradient(to right, var(--fieldset-color) 50%, #ff7f16 0%);
}
.mon-dmg-1 {
   /*inflicts OHKO*/
    background: linear-gradient(to right, #20d408 50%, var(--fieldset-color) 0%);
}
.mon-dmg-2 {
   /*may inflicts OHKO*/
    background: linear-gradient(to right, #daff08 50%, var(--fieldset-color) 0%);
}
.mon-dmg-14 {
   /*both sides Gets OHKO*/
    background: linear-gradient(to right, #20d408 50%, #dd0b0b 0%);
}
.mon-dmg-23 {
   /*both sides might inflict OHKO*/
    background: linear-gradient(to right, #daff08 50%, #ff7f16 0%);
}
.mon-dmg-13 {
   /*inflict OHKO but may Gets OHKO*/
    background: linear-gradient(to right, #20d408 50%, #ff7f16 0%);
}
.mon-dmg-24 {
   /*may inflict OHKO but Gets OHKO*/
    background: linear-gradient(to right, #daff08 50%, #dd0b0b 0%);
}
.trainer-poke.left-side {
    width: 3em;
    object-fit: none;
}
.box-poke, .trainer-poke-list-opposing {
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2em;
}
.deadzone:hover {
    background: #722323;
}
.over {
    background: #373232;
}
.info-paragraph > b {
    color: rgb(15, 14, 14);
}
.info-paragraph > b:hover {
    background: var(--fieldset-color);
    color: unset;
}
.genSelection {
    display: none;
}
.five-panels {
    display: flex;
    flex-flow: nowrap;
}
.info-selectors {
    display: flex;
    flex-direction: column;
}
#p1 .selector-label {
    float: left;
    text-align: left;
}
#p2 .selector-label {
    float: right;
    text-align: right;
}
#p1 .selector-select {
    float: right;
}
#p2 .selector-select {
    float: left;
    direction: ltr;
}
.top {
    display: flex;
    flex-direction: column;
}
.on-legend {
    margin: 1em;
}
button.on-legend {
    min-width: 4.5em;
}
label.opposing, label.player {
    width: unset;
    max-height: 2em;
    max-width: 13em;
}
#p2mon, #p1mon {
    height: 100px;
    width: 100px;
    object-fit: none;
    flex-basis: fill-available;
}
.info-group.display-sprites {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.exbg {
    position: fixed;
    height: 100%;
    object-fit: contain;
    z-index: -1;
}
.visually-hidden:checked + .btn > img {
    filter: grayscale(0%);
}
.btn > img {
    filter: grayscale(100%);
}
#p1b, #p2b {
    display: flex;
    flex-direction: column;
}
#p1b span, #p2b span {
    width: 100%;
}
#bg-image-a {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}
#resultGroupL > div, #resultGroupR > div {
    display: flex;
    flex-direction: row;
}
#resultGroupL > div {
    justify-content: right;
}
#resultGroupR > div {
    justify-content: left;
}
.display-damage-text {
    display: inline-grid;
    align-content: center;
}
#resultGroupL .display-damage-text {
    justify-items: right;
}
.move-result-subgroup .btn.btn-xxxwide {
    height: 2em;
    align-content: center;
    transition-property: color;
    transition-duration: 0.4s;
}
.speed-img {
    width: 1.5em;
}
.move-result-group {
    display: flex;
    min-width: 30em;
    justify-content: center;
}
#settingsGearIcon {
    cursor:pointer;
    width: 4em;
    height: 4em;
    display: block;
    fill: currentcolor;
    position:fixed;
    top:80%;
    left:0%;
}
.settingsPage {
    backdrop-filter: blur(3px);
    background-color: var(--background);
    position:absolute;
    margin:auto;
}
.settingsOverlay{
    backdrop-filter: blur(3px);
    height:100%;
    width:100%;
    margin:auto;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;
}
.highest-roll{
    color:lime !important;
}
.can-ohko{
    color: orange !important;
}
.ohko{
    color: red !important;
    text-transform: uppercase;
}
.loadingScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    z-index: 3;
    flex-direction: column;
}
.settingsPanels{
    display:flex;
}
.settingsPage fieldset{
    width:100%;
}
div:has(> #box-poke-list){
    flex-grow:1;
}
#trainer-mons > div {
    margin: 5px 0;
}
.ivs, .base{
    display:none !important;
}
.i-f-stats > table,.i-f-o-stats > table{
    text-align:center;
    width:100%;
}

.i-f-traits label {
	float: left;
	text-align: left;
}

.i-f-o-traits label {
	float: right;
	text-align: right;
}

.i-f-traits select {
	float: right;
}

.i-f-o-traits select {
	float: left;
	direction: ltr;
}
select.move-cat option[value="Physical"]{
    background-image: url("https://archives.bulbagarden.net/media/upload/1/1c/PhysicalIC_Masters.png");
}
select.move-cat option[value="Special"]{
    background-image: url("https://archives.bulbagarden.net/media/upload/a/a6/SpecialIC_Masters.png");
}
.ko-switch-panel{
    z-index: 3;
    width: 500px;
    height: 400px;
    top:100px;
    left:100px;
}